<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="test" status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <MapAppender name="MapAppender" />
        
    </Appenders>
    <Loggers>
    <!-- avoid duplicated logs with additivity=false -->
        <Logger name="oeg" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="test" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="MapAppender" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="MapAppender" />
        </Root>
    </Loggers>
</Configuration>